body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-weight: 1em;
    background: #f0f0f09d;
}

.menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    align-items: center;
    padding: 10px 0;
}
.menu img {
    width: 20%;
    height: 20%;
}
#nav-bar ul {
    display: inline-flex;
    margin-right: 1.5rem;
}
#nav-bar li {
    margin-right: 1rem;
}
#nav-bar li a {
    text-decoration: none;
    color: #000
}
#nav-bar li a:hover {
    text-decoration: underline;
}
#title {
    padding:10% 0;
    text-align: center;
}
#title h1 {
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: bold;
}
#email {
    margin-bottom: 1rem;
    width: 20%;
}
#submit {
    width: 10%;
    padding: .35rem 1.2rem;
    background: rgb(240, 183, 77);
    border: 0;
    font-weight: 700;    
    font-size: 14px;
    border-radius: 4px;
}
#submit:hover {
    background: orange;
}

.myicon {
    display: flex;
	justify-content: flex-end;
	height: 2em;
    font-size: 35px;
    margin-right: 1rem;
    margin-top: 20px;
    color: darkorange;
}
h2 {
    font-size: 20px;
    font-weight: bold;
}
#feature {
    width: 100%;
}
#feature h2, #feature p {
    line-height: 1.5;
    width: 100%;
}
.grid {
    width: 70%;
    margin: 10px auto;
    display: flex;
}
#work {
    text-align: center;
    margin-top: 2.5rem;
    width: 100%;
}
#pricing {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.price-box {
    margin: 0 20px;
    border: 0.5px solid #2d2e3a;
    border-radius: 3px;
    text-align: center;
    width: 17em;
    height: 19em;
}
.price-box h3 {
    padding: 10px 0;
    background: #b5b6b8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.price-box span {
    font-weight: bold;
    line-height: 2.5;
    font-size: 25px;
}
.price-box ul li {
    line-height: 2;
}
.price-box button {
    padding: 0.5em 20px;
    text-transform: uppercase;
    font-size: 18px;
    background: rgb(240, 183, 77);
    border: 0;
    border-radius: 3px;
    margin-top: 25px;
}
.price-box button:hover {
    background: orange;
}
footer {
    text-align: right;
    padding: 0.5rem 0;
    border-top: 1px solid #6a6c8149;
}
footer ul {
    display: flex;
    justify-content: flex-end;
}
footer ul li {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.price-box {
       margin-top: 15px;
}
#video {
    width: 90%;
}
#submit {
    width: 30%;
}
#email {
    width: 40%;
}
}